:root {
    --nav-bg-color: #2F4F4F;
    --nav-hover-color: rgba(105,105,105, .5);
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: #ddd;
    font-family: 'Akaya Kanadaka', cursive;
}

/* Area del Menu de navegacion  */
.menu {
    display: flex;
    width: 100%;
    height: 6.5rem;
    background-color: var(--nav-bg-color);
    color: white;
    align-items: center;
    justify-content: space-between;
    border-bottom: .3rem solid white;
    box-shadow: .2rem 0 1rem #000;
    transition: all .3s ease;
}
.menu a {
    text-decoration: none;
    /* width: 18%; */
    transition: all .3s ease;
}
.logo img {
    /* width: 100%; */
    transition: all .3s ease;
}
.logo {
    display: flex;
    color: white;
    align-items: center;
    font-size: 2.5rem;
    margin: 0 0 0 1rem;
    transition: all .3s ease;
}
.btn_menu {
    font-size: 3.5rem;
    margin: 0 1rem 0 0;
}
.menu_list {
    position: fixed;
    width: 100vw;
    height: calc(100% - 6.5rem);
    flex-direction: column;
    top: -100vh;
    align-items: center;
    list-style: none;
    background-color: var(--nav-hover-color);
    transition: all .5s ease;
}
.menu_list li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    border-bottom: .2rem solid var(--nav-bg-color);
}
.menu_list li a{
    color: white;
    width: 100%;
    text-align: center;
}
.menu_list li:hover {
    background-color: var(--nav-bg-color);
    border-bottom: .2rem solid white;
}
.show {
    top: 6.5rem;
    transition: all .5s ease;
}

/* Area del contenedor del form y las cards */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: 	#696969;
}
section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1.5rem 0 0 0;
}
.form_search_pk {
    display: flex;
    width: 70%;
    margin-bottom: 1rem;
}
.form_search_pk input {
    width: 100%;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
}
.container {
    width: 90%;
    flex-wrap: wrap;
}
.card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border: .3rem solid var(--nav-bg-color);
    border-radius: 4rem;
    background: linear-gradient(to bottom right, #C71585, #FFC0CB);
    margin: 2rem 2rem 3rem 2rem;
}
.img_container {
    display: flex;
    width: 85%;
    justify-content: center;
}
.img_container img {
    width: 100%;
    margin-top: -4rem;
}
.noName {
    font-size: 2.5rem;
}