@media (min-width: 700px){
    .menu {
        height: 12rem;
        border-bottom: .7rem solid white;
        box-shadow: .5rem 0 1.5rem #000;
        transition: all .3s ease;
    }
    .logo {
        font-size: 4.5rem;
        transition: all .3s ease;
    }
    .btn_menu {
        font-size: 7rem;
        margin: 0 6rem 0 0;
    }
    .menu_list {
        height: calc(100% - 6.5rem);
    }
    .menu_list li{
        font-size: 4rem;
        padding: 2.8rem;
    }
    .show {
        top: 12rem;
        transition: all .5s ease;
    }

    main {
        margin-top: 12rem;
    }
    .form_search_pk {
        width: 65%;
        margin-bottom: 1rem 0 3rem 0;
    }
    .form_search_pk input {
        font-size: 3rem;
        border-radius: 2rem;
    }
    .container {
        margin-top: 8rem;
        width: 100%;
        flex-wrap: wrap;
    }
    .card {
        width: 30%;
        height: 25rem;
    }
    .img_container {
        height: 20rem;
    }
    .noName {
        font-size: 2.2rem;
    }    

    .links a {
        font-size: 3rem;
        transition: all .3s ease;
    }
}

/* @media (min-width: 1024px){
    .menu {
        height: 18rem;
        border-bottom: .7rem solid white;
        box-shadow: .5rem 0 1.5rem #000;
        transition: all .3s ease;
    }
    .logo {
        font-size: 7.5rem;
        transition: all .3s ease;
    }
    .btn_menu {
        font-size: 12rem;
        margin: 0 2rem 0 0;
    }
    .menu_list {
        height: calc(100% - 6.5rem);
    }
    .menu .menu_list li{
        font-size: 5rem;
        padding: 4.8rem;
    }
    .show {
        top: 18rem;
        transition: all .5s ease;
    }
} */